#projects {
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    text-align: center; /* Centre le texte */
    gap: 0rem; /* Supprime l’espace entre les deux parties pour la superposition */
    padding: 50px;
    width: 100vw;
    height: 100vh;
    position: relative; /* Ajouté pour éviter les problèmes de positionnement */;
    flex-direction: column;
    .project-list {
        width: 90%;
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        border: 2px solid;
        padding: 5px 5px ;
        .project {
            width: 23%;
            border: 2px solid;
            gap: 5px;
        }
    }
}